.setup {
    background-color:#DCDCDC ;
  &__back {
    width: 2rem;
    margin: 1rem;
  }

  &__card-container {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;

    justify-content: center;
    padding: 2rem;
    margin: .5rem 1rem;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.1);
    box-shadow: -4px -3px 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 3%;
    background-color: white;
    transform: rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    transition: 500ms;
    
  }

  &__flip-card {
      --rotate-y: 180deg;
      transform: scaleX(-1);
      
  }
}
