@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.terminal {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__remove-correct {
    @include desktop {
      margin: 2rem;
    }
  }

  &__card-divider {
    background-color: rgb(8, 8, 57);

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 1rem;
    }
  }

  &__back {
    width: 2rem;
    margin: 1rem;
    display: inline;
    @include desktop {
      
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      padding-top:1rem;
    }
  }

  &__card {
    display: flex;

    justify-content: center;
    padding: 2rem;
    margin: 0.5rem 1rem;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.1);
    box-shadow: -4px -3px 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 3%;
    background-color: white;
    transform: rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    transition: 500ms;

    @include desktop {
      padding: 4rem 2rem;
      margin: 1rem;
      width: 20rem;
    }
  }

  &__flip-card {
    --rotate-y: 180deg;
    transform: scaleX(-1);
  }

  &__select-container {
    // padding-left: rem;
  }

  &__correct {
    background-color: rgb(194, 255, 194);
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    text-align: center;
  }

  &__incorrect {
    background-color: rgb(255, 147, 147);
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    text-align: center;
  }

  &__clear {
    background-color: white;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    text-align: center;
  }

  &__correct:hover {
    background-color: rgb(155, 244, 155);
  }

  &__incorrect:hover {
    background-color: rgb(254, 115, 115);
  }

  &__incorrect-background {
    background-color: rgb(255, 202, 202);
  }

  &__correct-background {
    background-color: rgb(199, 245, 199);
  }

  &__clear-background {
    background-color: white;
  }
}
