// Media Query Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1020px;

// Primary Colours


// Secondary Colours


// Background Colours


//button, background, category colors 

$lightblue: rgb(184, 241, 234);
$lightpurple: rgba(148, 187, 233, 1);
$purplebackground: rgb(231, 240, 250);
$bluebackground: rgb(233, 250, 248);
$buttonsize: 10rem;

$yellowbackground: rgb(255, 255, 170);
$lightyellowbackground: rgb(250, 250, 233);